
@media screen and (max-width: 480px) {

}

@media {
    max-width: 1200px}


.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: <weight>;
  font-style: normal;
  font-variant: inherit
    "wdth" <width>;
}

body {
    font-size .25em;
}

    .headline {
        font-size: 3em;
        font-weight: 700;
        text-align:center;
        color: red;
    }
    
    
    
    .byline {
        font-size 2em !important;
        font-weight 900 !important;
        color: red;
        text-align:left;
    }
    
    
    .date {
          text-align:left;
    }


#maintext {
    font: roboto, georgia, serif;
    text-align: center;
    
    
}






