
@media screen and (max-width: 480px) {

}

@media {
    max-width: 1200px}





* {
    font-family: 'Roboto', georgia, serif;
    margin: auto;
    padding: auto;
    align-content: center;
}


body {
    color: #d8edf3; 
    font-weight: 100;
    margin: 0 auto
    padding: auto;  

}

p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

header {
    background-color: #003341;
}


#container-main {
    background-color: #d8edf3; 
    max-width: 1600px;
    text-align: center;    
}

    #headline {
        padding-top: 50px;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
        color: #009edb;
    }

h1 {
        font-size: 3.75em;
        font-weight: 300;
        padding-bottom: 50px;
        text-align: center;
        color: #009edb;
}
    
    
    #byline {
        font-size 2.5em !important;
        font-weight 600 !important;
        padding-left: 50px;
        color: #d8edf3; 
        font-family: roboto;
        text-align:left;
    }
    
    
    .date {
        text-align:left;
        color: #d8edf3; 
        padding-left: 50px;
        font-family: roboto;
    }

#subhead {
    color:#009edb
}

#maintext {
    text-align: left; 
    font-weight: 800;
    color: #003341;


}

img {
    text-align: center !important;
}


.col {
    height: 100px;
        color: #003341;

}

.col-8 {
    height: 100px;
        color: #003341;

}

.col-4 {
    height: 100px;
        color: #003341;

}

footer {
    color: #d8edf3;
    background-color: #003341;
    background-color: 
    font-size: 1.3em;
}




