
@media screen and (max-width: 480px) {

}

@media {
    max-width: 1200px}


#container-main {
    background-color: #2a4951;
}

    .headline {
        font-size: 3em;
        font-weight: 300;
        text-align: center;
        color: #009edb;
    }
    
    
    
    .byline {
        font-size 2em !important;
        font-weight 900 !important;
        color: #586a71;
        text-align:left;
    }
    
    
    .date {
          text-align:left;
    }

#subhead {
    color:#009edb
}

#maintext {
    font: roboto, georgia, serif;
    text-align: center;  
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: <weight>;
  font-style: normal;
  font-variant: inherit
    "wdth" <width>;
}

body {
    font-size 1.5em;
    font-family: roboto, georgia, serif;
    color: #e6f0f3;
}






