

*{
margin: 0;
padding: 0;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    width: 100%;
}

.container-fluid{
    padding-right: 30px;
}


.hero {
  margin: -1rem -1rem 1rem;
  height: 100svh;
  color: white;
  font-weight: 900;
  font-size: 3em;
  display: flex;
  justify-content: wrap;
  align-items: center;
  background-color: #3a3f2d;
    background-image: url(downloaded/news.png);  background-size: cover;
  background-position: 47% 76%;
}


#name {
    line-height: 80px;
    color: #fff;
    border-bottom: 7px;
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    font-family: raleway, Helvetica, "sans serif";
}


.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

img {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    padding: 20px;
    border: 2px;
    border-color: #fff;
}


.wrapper-hero{
margin: 0 auto;
width: 100%;
    max-width: 1200px
}

.video{
    align-content: left;
    size: 200px;
    padding-bottom: 100px;
}

.audio{
    padding: 10px;
}

.row-big {
        background-image: url(downloaded/news.png); background-size: 1200;
    background-position: left;
}

.fixed-bottom{
    width: 100%;
    line-height: 50px;
    background-color: #36366B;
    color: #FFF;
    font-size: 22px;
}

