

*{
margin: 0 auto;
padding-left: 15px;
    box-sizing: border-box;
    max-width: 1200px;
}

#navbar{
    position: fixed;
    width: 100%;
    color: #fff !important;
    background-color: #36366B !important;
}

#navbar a{
    color: #fff !important;
}

.container-fluid{
    padding: 30px;
}


.hero {
  margin: -1rem -1rem 1rem;
  height: 50svh;
  color: white;
  font-weight: 900;
  font-size: 3em;
  display: flex;
  justify-content: wrap;
  align-items: center;
  background-color: #3a3f2d;
    background-image: url(downloaded/vecteezy_hand-adjusting-cinema-camera_1864606.jpeg);  background-size: cover;
  background-position: 47% 76%;
}


#name {
    line-height: 80px;
    color: #fff;
    border-bottom: 7px;
}

h1{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    font-family: "Raleway", "Helvetica", "sans serif";}

img {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    padding: 40px;
    border: 2px;
    border-color: #fff;
}


.video{
    align-content: left;
    size: 200px;
    padding-bottom: 100px;
}

#audio{
    align-content: center;
}

.row {  
        border: 2px;
    border-color: black;
        opacity: 100%;
}
    
.col-8 {
background-image: url(downloaded/4.png);           
size: fill;
color: #fff;
    
}

#languages {
    padding-bottom: 60px;
}

.bottom {
    color: #fff;
    line-height: 50px;
    background-color: #36366B !important;
    color: #fff;
    font-size: 22px;
}

