
@media screen and (max-width: 480px) {

}

@media {
    max-width: 1200px}


* {
    font-family: 'Roboto', georgia, serif;
    margin: auto;
    padding: auto;
    align-content: center;
}


body {
    color: #003341
    color: #d8edf3; 
    
    font-weight: 100;
    margin: 0 auto
    padding: auto;  

}


audio {
    color: #003341; 
}

.navbar navbar-expand-lg navbar-light bg-light {
    font-size: 1.5em;
    background-color: #003341 !important;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light {
   background: #cdcdcd !important;
}

a.navbar-brand {
    padding-left: 40px; 
}

p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

header {
    background-color: #003341;
    height: 750px;
}


#container-main {
    color: #003341;
    background-color: #d8edf3; 
    max-width: 1600px;
    max-width: auto;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    
}

.hero {
    margin: -1rem -1rem 1rem;
    height: 50svh;
    color: white;
    font-weight: 300;
    font-size: 2em;
    display: flex;
    justify-content: wrap;
    align-items: center;
    background-image: url(downloaded/vecteezy_hand-adjusting-cinema-camera_1864606.jpeg);  background-size: cover;
    background-position: 47% 76%;
}

    #headline {
        padding-top: 50px;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
        color: #009edb;
    }

    h1 {
        font-size: 3.75em;
        font-weight: 300;
        padding-bottom: 100px;
        text-align: center;
        color: #009edb;
}
    
    
    #byline {
        font-size 2.5em !important;
        font-weight 600 !important;
        padding-left: 20px;
        padding-top: 80px;
        font-style: italic;
        font-weight: 600;
        font-family: roboto;
        line-height: .8;
        text-align:left;
    }
    
    
    .date {
        text-align:left;
        font-style: italic;
        padding-left: 30px;
        line-height: 1.0;
        font-weight: 600;
        font-family: roboto;
    }


    #subhead {
            color:#009edb
            padding: 45px;
            padding-bottom: 50px;
            border: 2.5px; 
        border-color: #009edb;
            font-size: 44px;
            color: #009edb;
    }


    #maintext {
        text-align: left;  
        font-size: 26px;
        padding-left: 30px;
        padding-right: 30px;
    }


    img {
         display: block;
        margin: auto;
        padding: 0 auto;
        align-items: center;
    }

    }
    .blurrybills {
        align-content: center !important;
        padding-left: 70px;
    }


    .21 {
        align-content: right !important;
    }


    #graphic-1 {
        margin: inherit;
        padding: 40px;
    }


    footer {
        background-color: #003341;
        height: 150px;
        width: auto;
        width: 100% !important;
    }





