
@media screen and (max-width: 480px) {
    text-size: 1.5em;
}

@media {
    max-width: 1200px}


* {
    font-family: 'Roboto', georgia, serif;
    margin: auto;
    padding: auto;
    align-content: center;
}


audio {
    color: #003341; 
}


#navbar {
    font-size: 1.5em;
    font-weight: 700;
}

.nav-item {
    text-align: center;
}


/*--adjusting the navbar and this is te old one

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: block;
    font-size: 1.5em;
    background-color: #d8edf3; 
    color: #003341;

}

a.navbar-brand {
    font-size: 2em;
}

a.nav-link dropdown-toggle {
    font-size: 2em;
}

--*/


p {
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #003341;
}


*container-main {
    display: block;
    margin: auto;
    padding: 0;
    text-align: left;    
    color: #003341;
    background-color: #c1e7f1 !important; 
    max-width: 1600px;
    max-width: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
}

header {
    background-color: #003341;
    max-height: 1200px;
    padding: 30px;
    opacity: 85%;
}

.hero {
    margin: -1rem -1rem 1rem;
    height: 160svh;
    font-weight: 300;
    font-size: 2.25em;
    display: flex;
    justify-content: wrap;
    align-items: center;
    background-image: url(images/unlogo_mixedbillsbackdrop.png);
    max-height: 1800px;
    background-size: cover;
    background-position: 47% 76%;
}

    #headline {
        padding-top: 50px;
        font-size: 3em;
        font-weight: 300;
        text-align: center;
        color: #009edb;
    }

    h1 {
        font-size: 2.75em;
        font-weight: 300;
        padding-bottom: 100px;
        text-align: center;
        color: #009edb;
}
    
    
    #byline {
        font-size 2.5em !important;
        font-weight 600 !important;
        padding-left: 20px;
        font-style: italic;
        font-weight: 600;
        font-family: roboto;
        line-height: .8;
        text-align:left;
    }
    
    
    .date {
        text-align:left;
        font-style: italic;
        padding-left: 20px;
        padding-top: 5px;
        line-height: 1.0;
        font-weight: 600;
        font-family: roboto;
    }


    #maintext {
        text-align: left;  
        font-size: 22px !important;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 100px;
        padding-bottom: 70px;
        max-width: 1900px;
        background-color: #c1e7f1 !important; 
}
        
 #subhead {
        color:#009edb;
        padding-bottom: 50px;
        border-bottom: 5px;     border-color: #009edb;
        font-size: 44px;
        font-weight: 700;
        color: #009edb;
    }


    img {
        display: block;
        margin: auto;
        padding: 0 auto;
        align-items: center;
    }

    }
    .blurrybills {
        align-content: center !important;
        padding-left: 70px;
    }


    .21 {
        align-content: right !important;
    }


    #data-map {
        background-color: #fff;
        margin: inherit;
        padding: 40px;
    }


body {
    display: block !important;
    color: #003341;
    background-color: #c1e7f1 !important; 
    !important;  
    font-weight: 500;
    margin: 0 auto;
    padding: auto; 
    margin: auto;
    padding: 0 auto;

}


    footer {
        background-color: #003341;
        color: #c1e7f1;
        height: 150px;
        padding-left: 60px;
        font-size: 2em;
        width: auto;
        width: 100% !important;
    }





